.text-color-1{
    color:#644F9C;
}
.text-2{
    font-size: 20px;
}
.title{
    font-size: 30px;
}
body{
    background-color: #f2f2f2;
    font-family: "PT Sans";
    padding: 30px;
    padding-right: 60px;
    padding-left: 60px;
}
.logo{
    font-size: 40px;
}
.logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lang-btn{
    
}
.nav-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.nav{
    margin: 0 40px 0 0px;
}
.hero-container{
    display: flex;
    justify-content: space-between;
}
.hero-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
}
.hero-artwork{
    max-height: 300px;
    max-width: 400px;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 50px;
}
.hero-artwork>img{
}
img{
    max-width: 100%;
    max-height: 100%;
}
.signup-button{
    
}
div{
    /* border: 3px solid red; */
}
.lang-btn>button{
    border: 0;
    background-color: #f2f2f2;
    cursor: pointer;
    font-weight: bold;
}
button:active{
    color: darkgreen;
}
.content-1-container{
    display:flex;
    flex-direction: column;
    margin-top: 100px;
}
.content-1-text-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.content-1-container-ctn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
}
.content-1-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.round-img{
    background-color: white;
    border-radius: 500px;
}
.hello-btn{
    margin: 5px;
    border: 0;
    background-color: #644F9C;
    border-radius: 20px;
    color: white;
    padding: 8px 80px 8px 80px;
    cursor: pointer;
}
.hello-btn:hover{
    background-color: #a584ff;
}
.hello-btn:active{
    background-color: #3d2f64;
    color: white;
}
.shadow-around{
    
}
.shadow-bottom{
    box-shadow: 0px 3px 5px rgb(125, 142, 147);
}
hr{
    border: none;
    border-top: 2px dotted rgb(0, 0, 0);
    height: 1px;
    width: 100%;
}
.content-2-container{
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.buttons-ctn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.ad-button{
    margin: 5px;
    border: 0;
    background-color: #FF6F00;
    border-radius: 20px;
    color: white;
    padding: 8px 80px 8px 80px;
    cursor: pointer;
}