@font-face {
    font-family: pt-sans;
    src: url(src/PTSans-Regular.ttf);
}
.text-color-1{
    color:#644F9C;
}
.text-2{
    font-size: 20px;
}
.title{
    font-size: 30px;
}
body{
    background-color: #f2f2f2;
    font-family: pt-sans;
    margin: 0;
}
.logo{
    font-size: 40px;
}
.logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lang-btn{
    
}
.subcontainer{
    display: flex;
    flex-direction: column;
    gap: 55px;
}
.nav-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.nav{
    margin: 0 40px 0 0px;
}
.hero-container{
    display: flex;
    justify-content: space-between;
}
.hero-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
}
.hero-artwork{
    max-height: 300px;
    max-width: 400px;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px;
    padding-right: 60px;
    padding-left: 60px;
}
.hero-artwork>img{
}
img{
    max-width: 100%;
    max-height: 100%;
}
.signup-button{
    
}
div{
    /* border: 1px solid red;
    margin: 2px; */
}
.lang-btn>button{
    border: 0;
    background-color: #f2f2f2;
    cursor: pointer;
    font-weight: bold;
}
button:active{
    color: darkgreen;
}
.content-1-container{
    display:flex;
    flex-direction: column;
    margin-top: 100px;
}
.content-1-text-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.content-1-text-container>hr{
    margin-bottom: 35px;
}
.content-1-container-ctn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 120px;
}
.content-1-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.round-img{
    background-color: white;
    border-radius: 500px;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hello-btn{
    margin: 5px;
    border: 0;
    background-color: #644F9C;
    border-radius: 20px;
    color: white;
    padding: 8px 80px 8px 80px;
    cursor: pointer;
}
.hello-btn:hover{
    background-color: #a584ff;
}
.hello-btn:active{
    background-color: #3d2f64;
    color: white;
}
.shadow-around{
    box-shadow: 2px 2px 15px rgb(183, 196, 200);
}
.shadow-bottom{
    box-shadow: 0px 3px 5px rgb(125, 142, 147);
}
hr{
    border: none;
    border-top: 2px dotted rgb(0, 0, 0);
    height: 1px;
    width: 100%;
}
.content-2-container{
    margin-top: 30px;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.buttons-ctn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 25px;
}
.ad-button{
    margin: 5px;
    border: 0;
    background-color: #F2F2F2;
    border-radius: 25px;
    color: black;
    cursor: pointer;
}
.ctn1-text{
    margin-top: 23px;
    margin-bottom: 40px;
}
button{
    height: 45px;
    width: 275px;
}
a{
    color: black;
    text-decoration: none;
}
.content-2-container-2{
    display: flex;
    gap: 140px;
    width: 80vw;
}
.content-2-img{
    max-height: 300px;
    max-width: 400px;
}
.content-2-img>img{
    height: 100%;
    width: 100%;
}
.content-2-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-2-container-ctn{
    display:flex;
    flex-direction: column;
    gap: 30px;
}
.content-2-text-title{
    color: #FF6F00;
}
.learn-more{
    display: flex;
    align-items: center;
    color: #644F9C;
    font-size: 20px;
    gap:5px;
}
.learn-more>a{
    text-decoration: none;
    color: #644F9C;
}
.learn-more>a:hover{
    color: #7d6cab;
}
.learn-more>img{
    height: 20px;
    width: 20px;
}
.content-3{
    background-color: #644F9C;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
}
.content-3-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 60px 0 60px 0;
}
.content-3-title{
    margin-top: 40px;
    text-shadow: 2px 2px 1px rgb(49, 49, 49);
}
.round-shape{
    height: 300px;
    width: 300px;
    border-radius: 400px;
    font-size: 30px;
}
.shadow-text{
    text-shadow: 2px 2px 3px rgb(49, 49, 49);
}
.r1{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed black;
}
.r2{
    color: #644F9C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.r3{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FF6F00;
}
.title-3{
    font-size: 60px;
}
#pop{
    color: #f2f2f2;
    background-color: #FF6F00;
}
.slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.slider-title{
    color:#644F9C;
    margin-top: 40px;
    margin-bottom: 15px;
}
.slider-menu{
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 50vw;
}
.slider-page{
    height: 6px;
    width: 13px;
    background-color: #b8c8e6;
    border-radius: 30px;
}
#slider-menu-1{
    width: 30px;
    background-color: #644F9C;
}
.slider-cards-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.slider-cards{
    display: flex;
    height: 200px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    border: 1px dashed #FF6F00;
    border-spacing: 5px;
    justify-content: center;
    align-items: center;
}
.card-ctn{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
}
.card-text-ctn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.footer-line{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.text-size{
    font-size: 22px;
}
.text-size-2{
    font-size: 20px;
}
.footer{
    margin-top: 40px;
    margin-bottom: 40px;
}
.shadow-down{
    box-shadow: 5px 0 black;
}
.footer-logo-ctn{
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}
.footer-logo-ctn>div{
    max-width: 30px;
    max-height: 30px;
}
.footer-logo-ctn>div>img{
    height: 100%;
    width: 100%;
}
.slider-buttons{
    margin-top: 40px;
    display: flex;
    gap: 30px;
}
#slider-left,#slider-right{
    height: 50px;
    width: 50px;
    background-color: white;
    border: 0;
    cursor: pointer;
    border-radius: 50px;
    font-size: 30px;
}